<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Overview</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfp">New Reviews</a>
        </li>
        {{#if admin}}
        <li class="nav-item">
            <a class="nav-link" href="/stats">Statistics</a>
        </li>
        {{/if}}
        <li class="nav-item">
            <a class="nav-link" href="/disconnect">{{{icon 'x-circle-fill' 'Disconnect' '#998030'}}}</a>
        </li>
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<span class="done">reviews you did</span>
<span class="skipped">reviews you cannot do</span>
<div class="my-3">
    <table class="table">
        <thead class="thead-dark"><tr><td>Title</td><td># done</td></tr></thead>
        <tbody>
        {{#each reviews}}
        <tr class="{{#if this.reviewed}} done {{else if this.refused}} skipped{{/if}}"><td>{{#unless this.uptodate}}{{{icon 'issue-reopened' 'Proposal updated since last review' '#995030'}}} {{/unless}}<a href="/cfp/{{this.cfpId}}">{{this.title}}</a></td><td>{{this.count}}</td></tr>
        {{/each}}
        </tbody>
    </table>
</div>
