<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Overview</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfp">New Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/disconnect" data-toggle="tooltip" data-placement="bottom" title="Disconnect">{{{icon 'x-circle-fill' 'disconnect' '#998030'}}}</a>
        </li>
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<span class="done">reviews you did</span>
<span class="skipped">reviews you skipped</span>
<div>
    <table class="table">
        <thead class="thead-dark"><tr><td>Title</td><td># done</td></tr></thead>
        <tbody>
        {{#each reviews}}
        <tr class={{#if this.reviewed}} "done" {{else if this.refused}} "skipped" {{else}} "" {{/if}}><td><a href="/cfp/{{this.cfpId}}">{{this.title}}</a></td><td>{{this.count}}</td></tr>
        {{/each}}
        </tbody>
    </table>
</div>
