<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Welcome to CPPP CfP Reviews</a>

    {{#if hasUser}}
    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfp">New Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/done">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/disconnect">{{{icon 'x-circle-fill' 'Disconnect' '#998030'}}}</a>
        </li>
    </ul>
    {{/if}}
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}


<div class="row justify-content-md-center">
    <div class="col-sm-8">
        {{#if hasUser}}
        <div class="row">
            <h4>Welcome {{welcome}}</h4>
        </div>
        {{else}}
        <div class="row">
            <div class="col-6">
                <div class="card p-3 ">
                    <form method="POST" action="/login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>

            <div class="col-6">
                <div class="card p-3 ">
                    <a class="btn btn-primary" href="/register">Register new account</a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-8">
        <p>You are about to review CPPP's proposals. Thanks for your help!</p>
        <p>We aim to create a nice and varied program along the three tracks.</p>
        <h3>What we are looking for</h3>
        <p>
            We are looking for something varied and of good quality. We want both the talks that are in all the other conferences because they are super
            interesting and the talks that are in no other C++ conference. To do that, we need to keep an open mind. We don't want to refuse talks because
            they are unusual or because they don't have a strong C++ axis. If you think a talk is interesting for C++ programmers, even if it contains no
            C++, we can consider it.
        </p>
        <h3>How to Review</h3>
        <p>
            The score, from 1 to 10 for a talk represents a mix of two questions:
            <ul>
                <li>Would I go see this talk?</li>
                <li>Would this talk make sense at CPPP?</li>
            </ul>
            If the answer to both is yes, put a high score. If the answer is no to the first one, try to analyze whether it is specific to you (are you a
            Linux programmer reviewing a Windows proposal) or if it is generally not interesting for most attendees (a super niche library).
        </p>
        <p>
            You are supposed to review each talk independently from the others. If you see multiple talks about the same subject, or if you see multiple talks
            by the same author, don't try to play on the scores to compensate. We will make a second pass to make sure that no author talks multiple times and
            no subject is over presented.
        </p>
        <h3>The Tracks</h3>
        CPPP has three tracks with different targets. You should judge each talk for its track. If you think a talk would be better for another track, there is
        dedicated field in the review. Change the track and give a score based on this new track instead.
        <h4>Progress</h4>
        This track is about the bases. You should judge it by asking yourself whether you wish newcomers and interns who work with you would go to see it.
        They need to be accessible to students and beginners but if they are useful to advanced programmers, it is a plus.
        <h4>Produce</h4>
        This track is for the industry. You should judge whether the subject would help people in their everyday job. It doesn't necessarily have to be very
        technical. "How to convince my boss to do unit tests?" could potentialy make sense for a C++ programmer. On the other hand, talks about things
        that a developer in the industry cannot use or do at their level are way less useful (migrate everything into the cloud to use this new shiny tool for
        example).
        <br />We will also certainly have some talks that are borderline advertising in this track. Use your judgement to decide whether it might still be
        useful for a number of attendees or not.
        <h4>Push Forward</h4>
        We should find in this track both big hits from other conferences (CppCon, CppNow) and hopefully a few talks that are very surprising. You should judge
        these by whether people will leave the talk with new ideas to try or read about.
        <h3>Timings</h3>
        For each track, we should have one 90 minutes track, two 30 minutes track and six 60 minutes track. So the standard is for 60 minutes talks.
        If you disagree with the timing for a talk, you have a field to indicate it. Give your score for the timing you choose. For example if an author
        writes 60 minutes and you think it would make a great 30 minutes talk but a boring 60 minutes talk, select 30 minutes and give a good score for it.
        <h3>Anonymization</h3>
        We are first reviewing the talks "anonymized". During this time, even if it is possible to know who the author is, try to review as if you had no idea.
        We will de-anonymize later and you will be able to change your score based on that, if the name and experience of the author give a new perspective
        on the talk (it sometimes does).
        <h3>Conflicts of Interest</h3>
        <p>
            If you recognize a talk as someone from you or your colleagues, near friend, etc. you should press the "I cannot review this" button. The talk will
            no longer be proposed for a review.
        </p>
        <p>
            The line for "is this a conflict of interest" should not be "Can I review this without being influenced", but "Could somebody attack the review
            process by accusing me of being influenced". If the answer to the second question is Yes, you should refuse the review no matter your answer to the
            first one.
        </p>

        <a class="btn btn-primary" href="/cfp">Start Reviewing</a>

    </div>

</div>
