<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Statistics</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfp">New Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/done">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/disconnect">{{{icon 'x-circle-fill' 'Disconnect' '#998030'}}}</a>
        </li>
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<div class="my-3">
    <h3>Total proposals</h3>
    {{total}}

    <h3>Per Track</h3>
    <p>Progress: {{progress}}</p>
    <p>Produce: {{produce}}</p>
    <p>Push Forward: {{push}}</p>

    <h3>Per Language</h3>
    <p>English: {{english}}</p>
    <p>French: {{french}}</p>
    <p>Both: {{both}}</p>

    <h3>Per length</h3>
    <p>30 minutes: {{shortTalk}}</p>
    <p>60 minutes: {{longTalk}}</p>
</div>