<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CfP Reviews</a>
</nav>

<div>
    <h2>{{title}}</h2>
    {{track}} - {{duration}}
    <h3>Abstract</h3>
    <p>{{abstract}}</p>
    <h3>Outline</h3>
    <p>{{outline}}</p>

    <form>
        <button href="/cfp" class="btn btn-primary">Next</button>
    </form>
</div>
