<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Account</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/instructions">Home</a>
        </li>
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<form method="POST" action="/account">
    <div class="form-group required">
        <label for="emailInput" class='control-label'>Email address</label>
        <input name="mail" type="email" class="form-control" id="emailInput" value="{{mail}}" type="email" required>
    </div>

    <div class="form-group required">
        <label for="firstNameInput" class='control-label'>First Name</label>
        <input name="firstName" type="text" class="form-control" id="firstNameInput" value="{{firstName}}" required>
    </div>

    <div class="form-group required">
        <label for="lastNameInput" class='control-label'>Last Name</label>
        <input name="lastName" type="text" class="form-control" id="lastNameInput" value="{{lastName}}" required>
    </div>

    <div class="form-group">
        <label for="passwordInput" class='control-label'>Password</label>
        <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Change Password">
    </div>

    <div class="form-group">
        <label for="confirmPasswordInput" class='control-label'>Confirm Password</label>
        <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput"
            placeholder="Re-enter your password here">
    </div>

    <div class="form-group">
        <label for="affiliationInput" class='control-label'>Affiliation</label>
        <input name="affiliation" type="text" class="form-control" id="affiliationInput" value="{{affiliation}}">
    </div>

    <div class="form-group">
        <label for="bio-input" class='control-label'>Bio</label>
        <textarea name="bio" type="text" class="form-control" id="bio-input">{{bio}}</textarea>
    </div>

    <div class="form-group">
        <label for="pastExperience-input" class='control-label'>Past Experience</label>
        <textarea name="pastExperience" type="text" class="form-control"
            id="pastExperience-input">{{pastExperience}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary my-3">Update</button>

    {{#if admin}}
    <br />
    <a class="btn btn-primary" href="/tags">
        Tags
    </a>
    <a class="btn btn-primary" href="/users">
        Users
    </a>
    <a class="btn btn-primary" href="/alerts">
        Alerts
    </a>
    {{/if}}
</form>