<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Tags</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/disconnect" data-toggle="tooltip" data-placement="bottom" title="Disconnect">{{{icon 'x-circle-fill' 'disconnect' '#998030'}}}</a>
        </li>
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<div>
    <form method="POST" action="/tags">
        <table class="table">
            <tbody>

                {{#each tags}}
                <tr>
                    <td> {{#if this.checked}} {{{../checkedIcon}}} {{else}} {{{../uncheckedIcon}}} {{/if}} </td>
                    <td>{{this.value}}</td>
                    <td> {{this.count}}</td>
                    <td> {{#if this.checked}} <button type="submit" name="uncheck" value={{this.value}}
                            class="btn btn-danger">Uncheck</button> {{else}} <button type="submit" name="check"
                            value={{this.value}} class="btn btn-success">Check</button>{{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>