<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Users</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/disconnect">{{{icon 'x-circle-fill' 'Disconnect' '#998030'}}}</a>
        </li>
    </ul>
</nav>

{{#each alerts}}
<div class="alert alert-{{this.class}} m-3" role="alert">{{{input_long this.message}}}</div>
{{/each}}

<div>
    <form method="POST" action="/users">
        <table class="table">
            <tbody>

                {{#each users}}
                <tr>
                    <td> {{#if this.admin}} {{{../adminIcon}}} {{/if}} </td>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.proposals}}</td>
                    <td>{{this.drafts}}</td>
                    <td>{{this.email}}<button type="submit" name="email" value={{this.userId}}
                            class="btn btn-primary-outline">{{{../editIcon}}}</button></td>
                    <td>{{this.timestamp}}</td>
                    <td> {{#if this.viewBio}} <button type="submit" name="unbio" value={{this.userId}}
                            class="btn btn-danger">Disable bio viewing</button> {{else}} <button type="submit" name="bio"
                            value={{this.userId}} class="btn btn-success">Can view bios</button>{{/if}}
                    </td>
                    <td> {{#if this.admin}} <button type="submit" name="unadmin" value={{this.userId}}
                            class="btn btn-danger">Disable admin</button> {{else}} <button type="submit" name="admin"
                            value={{this.userId}} class="btn btn-success">Make admin</button>{{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>