<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Propose a Talk</a>

    <ul class="navbar-nav navbar-expand-md ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/instructions">Home</a>
        </li>
    </ul>
</nav>

<div>
    <h1>Users</h1>
    <form method="POST" action="/users">
        <table class="table">
            <tbody>

                {{#each users}}
                <tr>
                    <td> {{#if this.admin}} {{{../adminIcon}}} {{/if}} </td>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.email}}<button type="submit" name="email" value={{this.userId}}
                            class="btn btn-primary-outline">{{{../editIcon}}}</button></td>
                    <td>{{this.timestamp}}</td>
                    <td> {{#if this.admin}} <button type="submit" name="unadmin" value={{this.userId}}
                            class="btn btn-danger">Disable admin</button> {{else}} <button type="submit" name="admin"
                            value={{this.userId}} class="btn btn-success">Make admin</button>{{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>